@media screen and (max-width: 650px) {

	#responsive_current_menu_item{
		width:50%;
		height:20px;
	}

	.js .main-nav #responsive_current_menu_item {
		display: block;
		padding: 5px 0px 5px 28px; /* padding */ 
		color: #fff;
		left:30px;
		font-weight: 700;
		cursor: pointer;
		background-color: #34c0c4;
		
	}

	#responsive_menu_button{
		left:8%;
		}

	.main-nav{
		height:30px;
	}


}

